<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>BalticSeaHack</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
      <link rel="shortcut icon" href="{% static 'img/fav.png' %}" />
  </head>
  <body>

    
    <nav class="shdw navbar navbar-expand-lg navbar-default fixed-top" style="background: #3f51b5">
        <a class="navbar-brand text-light" style="margin-left: 5%; padding-left:-20%; " type="dissable"><img src="{% static 'img/logo.png' %}" width="30px" height="30px" alt="logo" style="margin-top: -5px;"> BalticSeaHack</a>
        <div class="container">
          <ul class="navbar-nav" style="margin-left: -7%;">
          <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'citizenopinion:index' %}" >Главная</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
                Города
              </a>
              <div class="dropdown-menu">

                {% for city in cities %}
                    <a class="dropdown-item" href="{% url 'citizenopinion:filter_index' city.title%}">{{ city.title }}</a>
                {% endfor %}
              </div>
            </li>
      
        </ul>
        </div>
      <div class=" text-light" style="margin-top: 10px;  padding-bottom: -15px;">
        {% if user.is_authenticated %}
        <small style="font-size: 18px;">Hi {{ user.username }}!
          <a href="{% url 'logout' %}" class="btn btn-dark" style="margin-left: 10px; margin-top: -5px;">Log out</a></small>
      {% else %}
          <small style="font-size: 18px;">You are not logged in.
          <a href="{% url 'signup' %}" class="btn btn-dark" style="margin-left: 10px; margin-top: -5px;">Sign up </a>
          <a href="{% url 'login' %}" class="btn btn-dark" style="margin-left: 10px; margin-top: -5px;">Log In</a></small>
      {% endif %}
      </div>
      </nav>
      <br>
      <br>
      <br>
      <br>
      <br>
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>