{% extends 'base.html' %}

{% block content %}

<div class="container jumbotron">
  <div class="row">
      {% if request.path == 'http://127.0.0.1:8000/1/vote/' %}
    <img  class="col-lg-6" src="../../media/{{ post.image }}" width="100%">
      {% else %}
      <img  class="col-lg-6" src="../media/{{ post.image }}" width="100%">
      {% endif %}
    <div class="col-lg-6">
    <h2>{{ post.title }}</h2>
    <p>{{ post.text }}</p>
<!--    <a href="#" class="shdw btn btn-light" style="background: #ffffff; margin-top: 5%"><img src="thumb_up-24px.svg" width="32">  <b class="counter">21</b></a>-->

<!--    <a href="#" class="shdw btn btn-light" style="background: #ffffff; margin-left: 8px;margin-top: 5%"><img src="thumb_down-24px.svg" width="32"><b class="counter">42</b></a>-->

    </div>
  </div>
</div>
<br>
<br>
<br>
<br>

{% if user.is_authenticated %}
<h1>{{ post.poll.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="container">
  <form action="{% url 'citizenopinion:vote' post.poll.id %}" method="post">
  {% csrf_token %}
  {% for choice in post.poll.choice_set.all %}
     <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
     <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
  {% endfor %}
  <input type="submit" value="Vote" />
  </form>
  </div>
{% else %}
<div class="container">
    
    <div class="shdw card" style="width:50%; margin-left:23% ;">
        <h1>{{ post.poll.question }}</h1>
        <ul class="counter " style="list-style-type:none; font-family:  sans-serif;">
        {% for choice in post.poll.choice_set.all %}
            <li>{{ choice.choice_text }} (Количество проголосовавших: {{ choice.votes_count }})</li>
         
        {% endfor %}
        </ul>
    
<a class="btn btn-light text-white" style="background-color: #3f51b5;font-size: 18px; width: 100%; border: 0px; margin-top: 10px;" href="{% url 'citizenopinion:detail' poll.id %}">Назад</a>
</div>
</div>
{% endif %}

{% endblock %}
